	.instructor-rating {
    padding-top: px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: aqua;
  border-style: solid;
  width: 270px;
  border-width: 5px;
  border-top: px;
  background-color:#008080;
  margin-right: 8px;
}

.instructor-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-color: gray;
  color: white;
  padding-right:11px;
   padding-top:4px;
}

.instructor-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  padding-top:5px;
}

.instructor-labels {
  display: flex;
  flex-direction: column;
}

.instructor-name {
  margin: 1px;
  font-size: 18px;
    border-style: solid;
}

.instructor-category,
.instructor-experience {
  margin: 1px;
  font-size: 16px;
  text-shadow: 20px;
  border-style: solid;
  text-decoration-style: bold;

}

.rating-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8000000;
  border-style:;
  padding-bottom: 7px;
}

.rating-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rating-stars input[type="radio"] {
  display: none;
}

.rating-stars label {
  font-size: 40px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.1s;
}

.rating-stars label:hover,.rating-stars label:hover ~ label,.rating-stars input[type="radio"]:checked ~ label {
  color: pink;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

button[type="submit"]:hover {
  background-color: black;
}
.rog{
  display: flex;
  margin-left: 5px;
}